.album-parent{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .album{
    width: 150px;
    height: 150px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 13px;
   display: flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;
  }
  .album:hover{
    border-color:darkslateblue;
  }